<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <link rel="stylesheet" href="../../../dist/qtys/login_style/login1_style/css/login.css">
</head>

<body>
    <div class="login">
        <div class="login_title">
            <p><img src="../../../dist/qtys/login_style/login1_style/images/jinghui.png" style="width:80px;height:80px;margin-right:30px;" />Liip法院舆情系统</p>
        </div>
        <div class="login_main">
            <div class="main_left"></div>
            <div class="main_right">
                <div class="right_title">用户登录</div>
                <form action="">
                    <div class="username">
                        <img src="../../../dist/qtys/login_style/login1_style/images/username.png" alt="">
                        <input type="text" placeholder="请输入用户名">
                    </div>
                    <div class="password">
                        <img src="../../../dist/qtys/login_style/login1_style/images/password.png" alt="">
                        <input type="text" placeholder="请输入密码">
                    </div>

                    <div class="yes_login"><a href="">登&nbsp;&nbsp;&nbsp;&nbsp;录</a></div>
                    <center>
                        <p style="margin-top:20px;font-size:12px;color:#FA6F03;">登录遇到问题，请联系管理员</p>
                    </center>
                </form>
            </div>
        </div>
        <div class="login_footer" style="position: fixed;margin: 200px 400px">
            <p class="name">copyright@：Liip实验室</p>
        </div>
    </div>

</body>

</html>
