<!DOCTYPE HTML>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>舆情报告</title>
    <meta name="viewport" content="initial-scale=1.0,width=device-width" />

    <!--css-->
    <link rel="stylesheet" href="../../dist/css/yqbg1.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="../../dist/css/yqbg2.css" type="text/css" media="print" />

    <link rel="stylesheet" href="../../dist/layui/css/layui.css" type="text/css" />


    <link href="../../dist/qtys/yqbg_style/css/bootstrap.min.css?v=3.3.6" rel="stylesheet">
    <link href="../../dist/qtys/yqbg_style/css/font-awesome.css?v=4.4.0" rel="stylesheet">
    <link href="../../dist/qtys/yqbg_style/css/style.css?v=4.1.0" rel="stylesheet">



</head>

<body>


    <div id="wrapper">

        <!--舆情报告 TITLE-->
        <div style="margin: 0 auto;text-align: center">
            <h1>舆情报告</h1>
            <h3 style="margin-top: 15px">2019.5.20-2019.5.30</h3>
        </div>
        <!--舆情报告 TITLE-->


        <!--舆情总览 TITLE-->
        <h2 id="chat" class="sectionHead">一、舆情总览</h2>

        <!--舆情总览-->
        <ul id="recommends">

            <li>
                <h3>1.案件信息描述</h3>
            </li>
            <div id="bio">



                <!--BIO PARAGRAPH-->
                <p>
                    蔡徐坤打篮球 唱rap 打灭霸 蔡徐坤打篮球 唱rap 打灭霸 蔡徐坤打篮球 唱rap 打灭霸 蔡徐坤打篮球 唱rap 打灭霸 蔡徐坤打篮球 唱rap 打灭霸 蔡徐坤打篮球 唱rap 打灭霸 蔡徐坤打篮球 唱rap 打灭霸 蔡徐坤打篮球 唱rap 打灭霸

                </p>

            </div>
            <li>
                <h3>2、事件回顾（大事记）</h3>
            </li>
            <div class="ibox float-e-margins">
                <div class="text-center float-e-margins p-md">
                    <button class="btn layui-btn layui-btn-normal" id="lightVersion">浅色</button>
                    <button href="#" class="btn layui-btn " id="darkVersion">深色</button>
                    <button href="#" class="btn layui-btn  layui-btn-warm" id="leftVersion">布局切换</button>
                </div>
                <div class="" id="ibox-content">

                    <div id="vertical-timeline" class="vertical-container light-timeline">
                        <div class="vertical-timeline-block">
                            <div class="vertical-timeline-icon navy-bg">
                                <i class="fa fa-user-md"></i>
                            </div>

                            <div class="vertical-timeline-content">
                                <h2>会议</h2>
                                <p>上一年的销售业绩发布会。总结产品营销和销售趋势及销售的现状。
                                </p>

                                <span class="vertical-date">
                                    今天 <br>
                                    <small>2月3日</small>
                                </span>
                            </div>
                        </div>

                        <div class="vertical-timeline-block">
                            <div class="vertical-timeline-icon blue-bg">
                                <i class="fa fa-user-md"></i>
                            </div>

                            <div class="vertical-timeline-content">
                                <h2>给张三发送文档</h2>
                                <p>发送上年度《销售业绩报告》</p>

                                <span class="vertical-date">
                                    今天 <br>
                                    <small>2月3日</small>
                                </span>
                            </div>
                        </div>

                        <div class="vertical-timeline-block">
                            <div class="vertical-timeline-icon lazur-bg">
                                <i class="fa fa-user-md"></i>
                            </div>

                            <div class="vertical-timeline-content">
                                <h2>喝咖啡休息</h2>
                                <p>喝咖啡啦，啦啦啦~~</p>
                                <span class="vertical-date"> 昨天 <br><small>2月2日</small></span>
                            </div>
                        </div>

                        <div class="vertical-timeline-block">
                            <div class="vertical-timeline-icon yellow-bg">
                                <i class="fa fa-user-md"></i>
                            </div>

                            <div class="vertical-timeline-content">
                                <h2>给李四打电话</h2>
                                <p>给李四打电话分配本月工作任务</p>
                                <span class="vertical-date">昨天 <br><small>2月2日</small></span>
                            </div>
                        </div>

                        <div class="vertical-timeline-block">
                            <div class="vertical-timeline-icon lazur-bg">
                                <i class="fa fa-user-md"></i>
                            </div>

                            <div class="vertical-timeline-content">
                                <h2>公司年会</h2>
                                <p>发年终奖啦，啦啦啦~~</p>
                                <span class="vertical-date">前天 <br><small>2月1日</small></span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>





            <!--end 舆情总览-->

            <div class="clear"></div>
            <!--传播 TITLE-->
            <h2 id="chat" class="sectionHead">二、传播分析</h2>

            <!--传播分析-->
            <div id="bio">
                <ul id="recommends">

                    <li>
                        <h3>1.舆情走势</h3>
                    </li>
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 据下图可知，微信舆情信息热度波动最大，在05月30日03时达到波谷，在05月29日21时达到波峰，在05月30日00时达到次波峰。网页、客户端、微博、论坛、报刊的舆情信息热度小于微信平台。</p>


                    <div class="echarts" id="echarts-line-chart" style="padding-bottom: 50px"></div>




                    <li>
                        <h3>2.媒体分布</h3>
                    </li>
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 据下图可知，2017年05月29日 09:55:00至2017年05月30日 09:55:00，微信舆情信息1153条，占比47.94%；新闻客户端舆情信息58条，占比2.41%；微博舆情信息300条，占比12.47%；网页舆情信息721条，占比29.98%；论坛舆情信息152条，占比6.32%；报刊舆情信息21条，占比0.87%。</p>
                    <div class="echarts" id="echarts-bar-chart" style="padding-bottom: 50px"></div>

                    <li>
                        <h3>3.情感属性</h3>
                    </li>

                    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 据下图可知，2017年05月29日 09:55:00至2017年05月30日 09:55:00，正面舆情信息1278条，占比53.14%；中性舆情信息730条，占比30.35%；负面舆情信息397条，占比16.51%。
                    </p>
                    <div class="echarts" id="echarts-funnel-chart" style="padding-bottom: 50px"></div>
                </ul>
            </div>
            <!--end 传播分析-->

            <div class="clear"></div>

            <!--内容分析 TITLE-->
            <h2 id="chat" class="sectionHead">三、内容分析</h2>

            <!--内容分析-->
            <ul id="recommends">

                <li>
                    <h3>1.媒体报道分析</h3>
                </li>


                <li>
                    <h3>2.处置建议</h3>
                </li>

            </ul>
            <!--end 内容分析-->

            <div class="clear"></div>
        </ul>
    </div>
    <!--end wrapper-->



</body>




<!-- 全局js -->
<script src="../../dist/qtys/yqbg_style/js/jquery.min.js?v=2.1.4"></script>
<script src="../../dist/qtys/yqbg_style/js/bootstrap.min.js?v=3.3.6"></script>



<script>
    $(document).ready(function() {

        // Local script for demo purpose only
        $('#lightVersion').click(function(event) {
            event.preventDefault()
            $('#ibox-content').removeClass('ibox-content');
            $('#vertical-timeline').removeClass('dark-timeline');
            $('#vertical-timeline').addClass('light-timeline');
        });

        $('#darkVersion').click(function(event) {
            event.preventDefault()
            $('#ibox-content').addClass('ibox-content');
            $('#vertical-timeline').removeClass('light-timeline');
            $('#vertical-timeline').addClass('dark-timeline');
        });

        $('#leftVersion').click(function(event) {
            event.preventDefault()
            $('#vertical-timeline').toggleClass('center-orientation');
        });


    });

</script>
<!-- ECharts -->
<script src="../../dist/js/echart/echarts-all.js"></script>

<!-- ECharts demo data -->
<script src="../../dist/js/echart/echarts-demo.js"></script>

</html>
