<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />


    <link href="../../../dist/qtys/ajgl_style/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="../../../dist/qtys/ajgl_style/css/font-awesome.min.css" />
    <link rel="stylesheet" href="../../../dist/qtys/ajgl_style/css/style.css" />
    <link rel="stylesheet" href="../../../dist/layui/css/layui.css" />

    <link href="../../../dist/qtys/ajgl_style/css/yqtj.css?v=4.1.0" rel="stylesheet">

    <script src="../../../dist/qtys/ajgl_style/js/jquery-1.9.1.min.js"></script>
    <script src="../../../dist/qtys/ajgl_style/js/laydate/laydate.js" type="text/javascript"></script>
    <title>用户列表</title>

</head>

<body>
    <div class="page-content clearfix">

        <blockquote class="layui-elem-quote quoteBox" style="margin-top: 10px;">

            <div>

                <p>

                    <label class="find_labela">开始时间：</label>
                    <input class="inline laydate-icon" id="start" style=" margin-left:10px;">
                    <label class="find_labela">结束时间：</label>
                    <input class="inline laydate-icon" id="end" style=" margin-left:10px;">
                    <input type="button" value="搜索一下" class="layui-btn search_btn" id="but_open">
                    <input type="button" value="重置" class="layui-btn layui-btn-normal" id="but_close02">

                </p>
            </div>
        </blockquote>

        <div class="wrapper wrapper-content animated fadeInRight gray-bg">
            <div class="row">
                <div class="col-sm-6">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>案件舆情趋势</h5>

                        </div>
                        <div class="ibox-content">
                            <div class="echarts" id="echarts-line-chart"></div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>媒体分布</h5>

                        </div>
                        <div class="ibox-content">

                            <div class="echarts" id="echarts-bar-chart"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>情感趋势</h5>

                        </div>
                        <div class="ibox-content">
                            <div class="echarts" id="echarts-scatter-chart"></div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>情感分布</h5>

                        </div>
                        <div class="ibox-content">
                            <div class="echarts" id="echarts-k-chart"></div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</body>

</html>
<!-- 全局js -->
<script src="../../../dist/qtys/ajgl_style/js/bootstrap.min.js?v=3.3.6"></script>

<!-- ECharts -->
<script src="../../../dist/qtys/ajgl_style/js/echarts-all.js"></script>

<!-- ECharts demo data -->
<script src="../../../dist/qtys/ajgl_style/js/echarts-demo.js"></script>

<!--日期-->
<script type="text/javascript">
    laydate({
        elem: '#start',
        event: 'focus'
    });
    laydate({
        elem: '#end',
        event: 'focus'
    });

</script>
